*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
  text-align: left;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

main {
  display: block;
}

hr {
  margin: 1rem 0;
  color: #dee2e6;
  background-color: #dee2e6;
  border: 0;
  opacity: 0.25;
}

pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol, ul {
  padding-left: 0;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

li {
  list-style: none;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875rem;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: normal;
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

details {
  display: block;
}

template {
  display: none;
}

@font-face {
  font-family: 'kodia';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kodia.ttf);
  src: url(../fonts/kodia.woff);
}

body {
  overflow-x: hidden;
  font-family: 'Mark Pro Heavy', sans-serif;
  background-color: #1D2023;
}

.hero-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.hero-box {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hero-box .logo-big {
  position: absolute;
  width: 260px;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 99999;
}

.hero-box .logo-big img {
  max-width: 100%;
}

.hero-box .header {
  position: fixed;
  width: 100%;
  height: 152px;
  left: 0;
  top: 0;
  z-index: 9999;
}

.hero-box .header::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(27%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 27%, rgba(0, 0, 0, 0) 100%);
}

.hero-box .header .header-right {
  position: absolute;
  top: 28px;
  right: 40px;
  width: 307px;
  z-index: 2;
}

.hero-box .header .header-right img {
  max-width: 100%;
}

.hero-box .visual-1 {
  position: fixed;
  width: 35vw;
  max-width: 820px;
  bottom: 0;
  right: -200px;
}

.hero-box .visual-1 img {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  right: 0;
}

.hero-box .visual-2 {
  position: fixed;
  width: 36vw;
  max-width: 573px;
  bottom: 0;
  left: -220px;
}

.hero-box .visual-2 img {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
}

.hero-box .visual-3 {
  position: fixed;
  width: 25vw;
  max-width: 400px;
  bottom: 0;
  left: -160px;
}

.hero-box .visual-3 img {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
}

.section-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100vh;
}

.section-2 .headline {
  display: block;
  position: fixed;
  width: 200%;
  height: 80px;
  margin: auto;
  top: 48vh;
  -webkit-animation: headlineLoop 18s;
          animation: headlineLoop 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 0;
}

.section-2 .headline .inner {
  display: block;
  width: 100%;
  height: 70px;
  background-image: url(../img/a_copy_line.png);
}

@-webkit-keyframes headlineLoop {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes headlineLoop {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.section-3 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 300vh;
  margin: auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-3 .card-wrap {
  position: absolute;
  width: 60%;
  height: 30vh;
  min-height: 500px;
  max-width: 1320px;
  top: calc(50% - 200px);
}

.section-3 .card-wrap.card-1 {
  left: calc(50% - 700px);
}

.section-3 .card-wrap.card-2 {
  right: calc(50% - 700px);
}

.section-3 .card-wrap.card-3 {
  left: calc(50% - 700px);
}

.section-3 .card-wrap.card-4 {
  right: calc(50% - 700px);
}

.section-3 .card-wrap.right .pict-wrap {
  left: auto;
  right: 0;
}

.section-3 .card-wrap.right .card-body {
  left: auto;
  right: 800px;
}

.section-3 .card-wrap .pict-wrap {
  position: absolute;
  width: 100%;
  max-width: 920px;
  line-height: 0;
  -webkit-box-shadow: 16px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 16px 8px 8px rgba(0, 0, 0, 0.5);
  left: 0;
}

.section-3 .card-wrap .pict-wrap video {
  width: 100%;
}

.section-3 .card-wrap .card-body {
  width: 600px;
  color: #fff;
  padding: 2rem 0;
  position: absolute;
  left: 800px;
  top: 100px;
}

.section-3 .card-wrap .card-body h3 {
  font-family: 'kodia';
  font-size: 42px;
  padding: 0 0 1rem 0;
  color: #F0D7B4;
  letter-spacing: -0.08em;
}

.section-3 .card-wrap .card-body p {
  font-size: 22px;
}

.section-3 .cut-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-3 .cut-wrap.cut-1 {
  background-image: url(../img/back_1.jpg);
}

.section-3 .cut-wrap.cut-2 {
  background-image: url(../img/back_2.jpg);
}

.section-3 .cut-wrap.cut-3 {
  background-image: url(../img/back_3.jpg);
}

.section-3 .cut-wrap.cut-4 {
  background-image: url(../img/back_4.jpg);
}

.section-4 {
  position: absolute;
  width: 100%;
  height: 180vh;
  min-height: 1400px;
  top: 700vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../img/back_diablo.jpg);
}

.section-4 img {
  margin-top: 10rem;
}

.contents-wrap {
  position: absolute;
  width: 100%;
  max-width: 2560px;
  height: 450vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
}

.contents-wrap .con-1-wrap {
  position: relative;
  width: 100%;
  height: 140vh;
  min-height: 1200px;
}

.contents-wrap .con-1-wrap .body-back {
  position: absolute;
  top: -200px;
  max-width: 100%;
}

.contents-wrap .con-1-wrap .event-wrap {
  position: absolute;
  top: 400px;
  z-index: 5;
  width: 100%;
  height: 1000px;
  background: url(../img/a_event.png) no-repeat top center;
}

.scroll-element {
  display: block;
  position: absolute;
  width: 100px;
  height: 450vh;
  right: 0;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scroll-element .trigger {
  display: block;
  width: 100%;
  position: relative;
  height: 100vh;
  min-height: 640px;
}

.scroll-element .trigger.trigger-1 {
  height: 200vh;
}
